<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MongoProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">Reader</span>
  </div>
</nav>
{% block body %}
    <div class="container">
        <table class="table table-striped table-bordered">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">{% if instance_type == 'reader' %}Phone{% else %}Age{% endif %}</th>

      <th scope="col"></th><th scope="col">
    </th>

    </tr>
  <tr>
      <form>
      <th scope="col"><input class="form-control" name="name__istartswith"></th>

      <th scope="col"><input class="form-control" name="{% if instance_type == 'reader' %}phone{% else %}age{% endif %}__istartswith"></th>
      <th scope="col">
          <button type="submit" class="btn btn-info"> search</button></th>
        </form>
      <th><a class="btn btn-primary" href="/{{ instance_type }}/0"> new</a></th>
    
    
    </tr>
  </thead>
  <tbody>
    {% for  reader in readers%}
    <tr>
      
      <td>{{ reader.name }}</td>

      <td>{{ reader.phone }}{{ reader.age }}</td>
        <td><a class="btn btn-info" href="/{{ instance_type }}/{{ reader.id }}">edit</a></td>
        <td><a class="btn btn-danger" href="/delete/{{ instance_type }}/{{ reader.id }}">delete</a></td>

        <td colspan="4">
            <table class="table mb-2">
            <thead>
                <tr>
                    <th scope="col">
                        Атрибут
                    </th>
                     <th scope="col">
                        Значение
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in reader.attributes.items %}
                <tr>
                    <td>
                        {{ key }}
                    </td>
                    <td>
                        {{ value }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
      </td>
    </tr>
    {% endfor %}
    
  </tbody>
</table>
        </div>
    
{% endblock %}
</body>
</html>